.user-nav {
  &:hover {
    border-radius: 0.5rem;
    padding: 0.5rem;
    scale: 1.05;
    box-shadow: 0 2px 4px rgba(128, 125, 125, 0.49);
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 2px 4px rgba(182, 177, 177, 0.33);
    }
  }
}
.active-user-nav {
  border-radius: 0.5rem;
  padding: 0.5rem;
  scale: 1.05;
  box-shadow: inset 0 0 3px 2px rgba(128, 125, 125, 0.49);
  @media (prefers-color-scheme: dark) {
    box-shadow: inset 0 0 3px 2px rgba(182, 177, 177, 0.33);
  }
}
